<div class="album text-muted ">
  <div class="container">
    <div class="row">
      <%= render @portfolios %>
      <%= link_to "Angular", angular_items_path(@portfolios) %>
    </div>
  </div>
</div>


