<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
      <div class="navbar-nav portfolio">
        <%= nav_helper 'nav-link', 'span' %>
        <%= authentication_helper  'nav-link' %>
      </div>
    </div>
  </div>
</nav>
