<h1>About Me</h1>
<hr>

<div class="row">
  <div class="col-md-5">
    <%= image_tag "profile.jpg", height: "300 ", width: "400", alt: "Profile image" %>
  </div>
  <div class="col-md-6">
    <p>As a Ruby on Rails developer, my primary focus is on building robust and scalable web applications using the Ruby programming language and the Rails framework.
    With my expertise in this technology stack, I am well-equipped to handle various aspects of the development process.
      My proficiency in Ruby allows me to write clean and efficient code, emphasizing readability and maintainability. 
      I leverage the object-oriented nature of the language to design modular and reusable components, ensuring code reusability and reducing development time.
    </p>
    <p>As a Ruby on Rails developer, my primary focus is on building robust and scalable web applications using the Ruby programming language and the Rails framework.
    With my expertise in this technology stack, I am well-equipped to handle various aspects of the development process.
      My proficiency in Ruby allows me to write clean and efficient code, emphasizing readability and maintainability. 
      I leverage the object-oriented nature of the language to design modular and reusable components, ensuring code reusability and reducing development time.
    </p>
  </div>
</div>
